
div {
  display: block;
}
/* 컨텐츠 */

.content {
  display: block;
  max-width: 1280px;
  min-height: 600px;
  margin-top: 50px;
}

.content .search_content {
  overflow: hidden;
  min-height: 340px;
}

.weaponSlot {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 10px solid rgb(226, 214, 255);
  transition: all ease 0.5s 0s;
  
}


.product_card:hover{
   cursor:pointer;
}
.product_card:hover .weaponSlot{
  border: 10px solid rgb(255, 242, 226);
}





.product_card {
  width: 220px;
  height: 250px;
  margin-right: 18px;
  float: left;
  margin-bottom: 50px;
}


.search_content {
  width: 1080px;
  min-height: 1000px;
  margin-left: 160px;
}

.weapon_name {
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}

.weapon_price{
  font-size: medium;
  color: #6e6e6e;
  margin-bottom: 10px;
}
.love_product {
  margin-top: 10px;
  word-spacing: 125px;
  font-weight:bold;
  color: gray;
}

/* 상점 상세정보  */
.entire_wrap{
  width: 100%;
  height: 500px;
}
.entire {
  width: 100%;
  height: 50px;
}

.item_img {
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height: 200px;
  margin-left: 20px;
  float: left;
  border: 2px solid rgb(238, 238, 238);
  margin-top: 50px;
}
.itemimg {
  width: 100%;
  height: 100%;
}

.item_info {
  width: 100%;
  max-width: 300px;
  height: 450px;
  float: right;
}
.item_name {
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid rgb(238, 238, 238);

}
.item_price {
  font-size: 16px;
  font-weight: bold;
  height: 70px;
  line-height: 80px;
}

.item_spacing{
   width: 100%;
   max-width: 250px;
  height: 150px;
  color: black;
  border: 0px solid white!important;
  font-size: 15px;
  resize: none;
}
.item_exp {
  font-size: medium;
  color: rgb(153, 153, 153);
  line-height: 1.1em;
  min-height: 50px;
  height: auto;
  margin-left: 15px;
  width: 100%;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}



.product_info_wrap{
  width: 100%;
  max-width: 550px;
  height: 120px;
  /* background-color: blue; */
  /* margin-top: 30px; */
}

.info_title {
  padding-bottom: 13px;
}
.detail_product_wrap {
  border: 1px solid #ebebeb;
  border-width: 1px 0;
}
.detail_product_wrap .detail_product {
  display: flex;
  min-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.detail_product_wrap .detail_box:first-child {
  padding-left: 0;
}
.detail_product_wrap .product_title {
  line-height: 14px;
  font-size: 12px;
  letter-spacing: -.06px;
  letter-spacing: -.33px;
  color: rgba(34,34,34,.5);
}
.detail_product_wrap .detail_box.model_num .product_info {
  font-weight: 600;
}


.btn-area.inShop button.inShop{
  width: 90%;
  height: 50px;
  background: #ef6253;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10%;
  border: none;
  border-radius: 10px;
  transition: all .5s ease;
  
}
.btn-area.inShop button.inShop:hover{
   color: #e3e3e3;
   cursor: pointer;
   
}